#artCarousel{
    top: -134px;
    padding: 0px;
	margin: 0px;
}
.indicators{
	visibility: hidden;
}
#artCarousel img{
	min-height: 134px;
}

@media  only screen and (min-width: 900px){
    #artCarousel img{
		min-height: 200px;
		min-width: 300px;
	}
	#artCarousel a{
		min-height: 200px;
		min-width: 300px;
	}
	#artCarousel{
		top: -200px;
		padding: 0px;
		margin: 0px;
	}
}