.carousel .carousel-item>img {
    width: 480%;
    margin-left: -190%;
	min-height: 1200px;
	position: fixed;
	min-height: 600px;
}
.carousel {
	min-height: 700px;
	position: fixed;
}
.img {
	position: fixed;
	top: -100px;
	min-height: 600px;
	margin-bottom: 500px;
}
.carousel-item>img {
    top: -200px;
}
